
.fieldset {
     width: 250px;
     border: 1px solid #000;
     border-radius: 5px;
}

 textarea {
     max-height: 150px;
}

.label {
     display: block;
     border-radius: 3px;
}

.input {
     display: inline;
     margin-top: 8px;
}

.button {
     margin-top: 5px;
}

 textarea {
     max-height: 150px;
}


::placeholder {
     color: black;
}
